* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar ul li {
  margin: 0 25px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./Components/Images/Background.jpg);
  background-size: cover;
  background-position: center;
}

.content img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20%;
  height: 15%;
}

.content p {
  margin: 25px 0;
  font-size: 15px;
  font-family: "Be Vietnam Pro", sans-serif;
  line-height: 10px;
  text-transform: uppercase;
  color: white;
}

.buttonContainer {
  display: flex;
}

.buttonContainer button a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: "Bayon", sans-serif;
  font-size: 20px;
  transition: 0.2s ease-in-out;
}

.buttonContainer button a:hover {
  color: red;
}

.buttonContainer button {
  width: 180px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 20px;
  font-weight: 500;
  border: 2px solid red;
  background: transparent;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.buttonContainer button:hover {
  background-color: black;
  border: 2px solid white;
  color: red;
}
.about-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./Components/Images/Aboutus_bg.jpg);
  background-size: cover;
  background-position: center;
}
.about-section .text-section {
  margin-top: 100px;
  margin-left: 20px;
}
.about-section .text-section h1 {
  /* margin-top: 100px;
  margin-left: 20px; */
  font-size: 91px;
  font-family: "Be Vietnam Pro";
  line-height: 50px;
  text-transform: uppercase;
  color: white;
}

.about-section .text-section p {
  /* margin-top: 20px;
  margin-left: 20px; */
  font-size: 10px;
  font-family: "Be Vietnam Pro";
  line-height: 20px;
  text-transform: uppercase;
  color: white;
}

.about-section h1 .us {
  /* margin: 25px 0; */
  font-size: 91px;
  font-family: "Be Vietnam Pro";
  /* line-height: 48px;  */
  text-transform: uppercase;
  color: red;
}

.rates-section {
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
}

.profile-section {
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
}
